h1 {
    color: palevioletred;
    text-align: center;
    font-size: 60px; 

    
  }

  h2 {
      text align: center;
      color: palevioletred;
      display: block;

  }
  nav {
    list-style-type: none;
    margin: 0;
    margin left: 20px;
    text decoration: none;
    color: blue; 
    padding: 0;
    background-color: #f1f1f1;
    float: left;
    overflow: hidden;
    font-size: 40px; 
    color: #596365; 
    letter-spacing: normal;
    border-left-color: aqua;
}
  p {
      color: brown;
      font-size: 90x;
      text-size: 90x;

  }